body {
    margin: 0;
    padding: 0;
    background-image: url('imag/-2147483648_-211305.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}